.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f2f2f2;
  }
  .card {
    display: flex;
    width: 50vh;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  @media (min-width: 1080px)
  {
    .card {
        display: flex;
        width: 35vh;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
  }

  /* Hide default radio and checkbox inputs */
.hidden-input {
    display: none;
}

/* Style the custom radio inputs */
.radio {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #909090;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

/* Style the custom checkbox inputs */
.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #909090;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

/* Change color when selected */
.hidden-input:checked + .radio,
.hidden-input:checked + .checkbox {
    border-color: #fff;
}

.hidden-input:checked + .radio::after,
.hidden-input:checked + .checkbox::after {
    transform: translate(-50%, -50%) scale(1);
}

.choice-card {
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.choice-card.selected {
    background-color: #0B52A3;
    color: #fff;
}

.choice-card.selected .radio{
    background-color: #0B52A3;
    color: #fff;
}

.choice-card.selected .checkbox{
    background-color: #0B52A3;
    color: #fff;
}

.next-button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px auto 0;
    background-color: #0B52A3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.next-button:hover {
    background-color: #256BB1;
}

.LearningPage .Navbar--container
{
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #256BB1;
    transition: width 0.4s ease-in-out;
}

.QuestionTitle {
    color: black;
    text-shadow: none;
}