.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home--mainImg img {
  object-fit: cover;
  height: 685px;
  width: 1444px;
}

.Home--welcome {
  background-color: rgba(0, 0, 0, 0.3);
  width: 60%;
  right: 0;
  position: absolute;
  bottom: 50px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}
