/* .Navbar--container {
    display: flex;
  }
  
  .Navbar--top {
    background-color: #a3a5a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .Navbar--left {
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .Navbar--logo {
    width: 25%;
    height: 70%;
  }
  
  .Navbar-linksContainer {
    display: flex;
  }
  
  .Navbar--links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .Navbar--links li {
    margin-left: 10px;
  }
  
  .Navbar--links a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
  } */
  
  

 .Navbar--container {
    background-color: #a3a5a7;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .Navbar--logo {
    width: 25%;
    height: 70%;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .Navbar-linksContainer {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .Navbar--links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .Navbar--links li {
    margin-left: 10px;
    
  }
  
  .Navbar--links a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;


  }
   


